ESS_MIRACLES_v11_tubes.out
ESS_MIRACLES_v11_tubes_20261001_145443/
ESS_MIRACLES_v11_tubes.c
ESS_MIRACLES_v11_tubes.out.dSYM/
._ChopperSettingsNexus.comp
._choppers_hires.cfg
._.gitignore
._ESS_MIRACLES_v11_tubes.instr